body {
    background-color: rgb(25 29 33);
    height: 100vh;
    padding: 30px;
    font-family: "Courier New", Courier, monospace;
    color: aliceblue;
    font-size: 17px;
}
h1 {
    padding: 5px;
    font-size: 53px;
    margin-left: 8px;
}
form {
    padding: 10px;
}
.Remove-func {
    padding-top: 15px;
}
.container {
    padding: 10px;
}
.todo-area {
    padding: 10px;
    text-transform: capitalize;
    margin-left: 6px;
    margin-top: 10px;
}
.base-btn {
    background-color: transparent;
    color: white;
    border: none;
}
.newTodoInput {
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    width: 560px;
    text-align: center;
    margin-left: 5px;
}
button {
    padding: 0 px;
    outline: transparent;
}
.clearCompleted-btn {
    position: absolute;
    margin-left: 150px;
    background-color: transparent;
    color: white;
    border: none;
}
.clearCompleted-btn:hover {
    color: lime;
}
.remove-all-btn {
    position: absolute;
    margin-left: 590px;
    background-color: transparent;
    color: white;
    border: none;
}
.remove-all-btn:hover {
    color: red;
}
.remove-handler-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
}

.remove-handler-btn:hover {
    color: red;
}

.Todo-List {
    margin-top: 0px;
}

.toggle_complete {
    position: absolute;
    padding-left: 13px;
}

.right {
    position: absolute;
    right: 0px;
    margin-right: 265px;
}
.completed-handler-btn {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 300px;
    margin-top: 4px;
}
.completed-handler-btn:hover {
    color: lime;
}
.show-hide-btn {
    background-color: transparent;
    border: none;
    color: white;
}
.show-hide-btn:hover {
    color: gray;
}
.hide-btn {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 80px;
}
.left {
    position: absolute;
}

.center {
    position: absolute;
    margin-left: 420px;
    margin-top: 10px;
}

.right-top {
    margin-left: 800px;
    margin-top: 10px;
}
